In [1]:
show databases;

,Database
0,information_schema